<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Workshop Application</title>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
      <style>
         body {
         font-family: 'Open Sans', sans-serif;
         text-align: center;
         background-color: WhiteSmoke;
         }
         .container {
         position: absolute;
         top: 30%;
         left: 50%;
         -moz-transform: translateX(-50%) translateY(-50%);
         -webkit-transform: translateX(-50%) translateY(-50%);
         transform: translateX(-50%) translateY(-50%);
         font-size: 200%;
         }
         .version {
         position: absolute;
         top: 50%;
         left: 50%;
         -moz-transform: translateX(-50%) translateY(-50%);
         -webkit-transform: translateX(-50%) translateY(-50%);
         transform: translateX(-50%) translateY(-50%);
         font-size: 200%;
         }
         footer {
         width: 100%;
         font-size: 100%;
         }
         img {
         margin: 0 auto;
         }
      </style>
   </head>
   <body>
      <div class="container">
         <img src="https://www.ansible.com/hubfs/Logo-Red_Hat-Ansible_Automation_Platform-A-Standard.svg" width="150%"/>
      </div>
      <div class="version" style="color:red;">
      <?php
        $servername = "node2";
        $username = "webapp";
        $password = "{{ hostvars['node2']['webapp_password'] }}";
        $dbname = "webapp_db";

        // Create connection
        $conn = new mysqli($servername, $username, $password, $dbname, 3389);
        // Check connection
        if ($conn->connect_error) {
          die("Connection failed: " . $conn->connect_error);
        }

        $sql = "SELECT application_name, application_version FROM webapp_db.INFO";
        $result = $conn->query($sql);

        if ($result->num_rows > 0) {
          // output data of each row
          while($row = $result->fetch_assoc()) {
            echo "<b>" . $row["application_name"]. "</b> v" . $row["application_version"] ."<br>";
          }
        } else {
          echo "<b>No Application Data Found</b>";
        }
        $conn->close();
      ?>

      </div>
   </body>
</html>